*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;

}

body{
 height: 100vh;
 background: linear-gradient(180deg, #009688 13%, grey 13%);

}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-chat{
  height: 90%;
  width: 80%;
  /* background-color: white; */
  display: flex;

}

.chat-left{
  height: 100%;
  width: 33%;
  background-color: white;
}

ul{
  list-style: none;
}
.text-chat{
  height: 100%;
  width: 67%;
  background-color: lightblue;
  background-image: url(../img/sfondo-chat.png);
  background-size: cover;
  position: relative;

}

.my-image{
  height: 8%;
  width: 100%;
  background-color: #D8DBD5;
  display: flex;


}


.container-photo{
  height: 100%;
  width: 50%;
   /* background-color: red; */
  display: flex;
  align-items: center;
  padding-left: 20px;


}

.container-photo .photo{
  height: 85%;
  width: 26%;
  /* background-color: green; */
  border-radius: 100%;
  background-image: url(../img/IMG_4906.jpg);
  background-size: cover;
}

.container-icons{
  height: 100%;
  width: 50%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.notified{
  height: 10%;
  width: 100%;
  background-color: #8BD6FD;
}

.campanella{
  height: 70%;
  width: 13%;
  background-color: white;
  border-radius: 100%;
  margin-right: 60px;

}

.input-search{
  height: 7%;
  width: 100%;
  background-color: #D8DBD5;

}

.input-search input{
  width:90%;
  border: 0;
  border-radius: 10px;
  padding: 4px;

}


.scroll-bar{
  height: 75%;
  width: 100%;
  /* background-color: red; */
  overflow-y: scroll;
}



.single-chat-1{
  height:15%;
  width: 100%;
  background-color: white;
  border: 1px solid lightgrey;


}



img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 8px 10px;
  float: left;


}

.name-chat{
  margin: 15px 0;
  float: left;


}

.message-under-name{
  margin-top: 5px;
  color: grey;
  font-size: 14px;
}

.hour {
  margin: 15px 10px  ;
  color: grey;
  float: right;
  font-size: 14px;


}




.single-chat-1:hover{
  background-color: #D8DBD5;
}

.clearfix::after{
  display: table;
  content: '';
  clear: both;
}

.chat ul{
  width: 100%;
}

.board-text-higher{
  height: 8%;
  width: 100%;
  background-color: #D8DBD5;
  border-left: 1px solid lightgrey;
}

.board-text-lower{
  height: 10%;
  width: 100%;
  background-color: #D8DBD5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  position: absolute;
  bottom:0;

}

.input-text-lower{
  width: 80%;
  border-radius:  10px;
  border: 0;
  padding: 5px;
}


.destinatario{
  background-color:white;
  padding: 15px;
  min-height: 40px;
  border-radius: 12px;
  float: left;
  clear: both;
  margin: 10px 20px;
}

.mittente{
  float: right;
  clear: both;
  background-color: #dcf8c6;
  padding: 15px;
  min-height: 40px;
  border-radius: 12px;
  margin-right: 20px;

}
