<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Lista delle spesa</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>
      <div id="app" class="flex" style="height:100vh">
        <div class="box-chat">
          <div class="chat-left">

            <!-- Immagine del mio profilo -->
            <div class="my-image ">
              <div class="container-photo">
                <div class="photo">
                </div>
              </div>

              <div class="container-icons">
                <i class="fas fa-circle-notch" style="color:grey"></i>
                <i class="fas fa-comment-alt" style="color:grey"></i>
                <i class="fas fa-ellipsis-v" style="color:grey"></i>
              </div>
            </div>


            <!-- Notifiche silenziate -->
            <div class="notified flex">
              <div class="campanella flex">
                <i class="fas fa-bell-slash" style="color:lightgrey"></i>

              </div>
              <div >
                <h4 style="color:grey">Get notified of new messages</h4>
                <p style="color:grey" style="">notifications are muted</p>
              </div>
            </div>


            <!-- Input text per cercare le chat -->
            <div class="input-search flex">
              <input v-model='searchText' type="text"   placeholder="Search of start new chat" >
            </div>


            <!-- Scrollbar con tutte le chat -->
            <div class="scroll-bar">
              <ul>
                <!-- item = i 4 oggetti dell'array CONTACTS  -->
               <li
                @click= "contactClick(index)"
                v-for = "(item, index) in searchContact()"
                :class=" index == activeIndex ? 'active' : ''"
                >
                  <div class=" single-chat-1  clearfix">
                    <img :src='item.imagines' alt="foto">
                    <div class="name-chat">

                      <p>{{item.name}}</p>

                     <p class="message-under-name">{{item.messages[1].text}}</p>    <!--  -->
                    </div>

                    <p class="hour">{{item.messages[1].hour}}</p>


                  </div>

                </li>


              </ul>



            </div>
          </div>


          <!-- Sezione dove appaiono i messaggi -->
          <div class="text-chat ">

            <!-- Bordo grigio superiore della chat -->
            <div class="board-text-higher">
              <div class="container-img-name">
                <img :src="contacts[activeIndex].imagines" alt="foto">
                <h3>{{contacts[activeIndex].name}}</h3>
              </div>

              <div class="icons-board-text-higher">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>

            <div class="chat">

              <ul>
                <!-- aggiungi il valore della chiave Status: 'sent' o 'received' che sono uguali alle classi fatte (verdi e bianchi)  -->
               <li
                 v-for= "item in contacts[activeIndex].messages"
                 :class="item.status"
                 class="clearfix"
                 >
                 <p>{{item.text}}</p>
                 <p class="hour-msg-sent">{{item.date}}</p>
               </li>

               <!-- <li class="received">
                  <p>ciao</p>
                  <p class="hour-msg-sent">12204</p>
                </li>
                 <li class="sent ">
                  <p>Tutto bene, tu?</p>
                  <p class="hour-msg-sent">11:43</p>
                </li> -->

              </ul>
            </div>

            <!-- Bordo grigio inferiore della chat con input-text  -->
            <div class="board-text-lower">
              <i style="color:grey" class="far fa-grin-alt"></i>
              <input v-model="newMsg" @keyup.enter="sendNewMsg" class="input-text-lower" type="text" placeholder= "Type a message">
              <i style="color:grey" @click= "sendNewMsg" class="fas fa-paper-plane"></i>
              <i style="color:grey" class="fas fa-microphone"></i>

            </div>


          </div>

        </div>








      </div>
    </body>
</html>
